<!-- Modal -->
<div class="login-form w3_form">
   <!--  Title-->
   <div class="login w3_login">
      <h3 class="text-center pt-5" style="color: #59ab6e">Lấy lại mật khẩu</h3>
      
      {{#if message}}
      <div style="text-align: center" class="alert alert-{{message.type}}">
         <strong>{{message.intro}}</strong> {{message.message}}
      </div>
      {{/if}}

      <form class="login-container d-grid" method="POST" action="/forgotPass/recoverPass">
         
         <input class="form-control" type="text" placeholder="Nhập email của bạn" name="email" required>
         
         <button type="submit" class="btn btn-success mt-3">Gửi</button>

         <a href="/login" style="text-align: right; color: #59ab6e; padding-top: 10px"><i class="fas fa-angle-left"></i>Quay về</a>

      </form>
   </div>

</div>
<!--End Brands-->