
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
		<li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="https://cf.shopee.vn/file/152f4d874d2c5201855e68222226c5e1" alt="">
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left align-self-center">
							<h1 class="h1 text-success"><b>KCT</b></h1>
							<h3 class="h2">Chuyên các trang sức phụ kiện unisex</h3>
							<p>
								Các sản phẩm phụ kiện vừa tạo điểm nhấn, vừa thể hiện cá tính riêng
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="https://cf.shopee.vn/file/e61d95662d2b2bc721dac221d6ace897" alt="">
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left">
							<h1 class="h1">Proident occaecat</h1>
							<h3 class="h2">Aliquip ex ea commodo consequat</h3>
							<p>
								You are permitted to use this Zay CSS template for your commercial websites.
								You are <strong>not permitted</strong> to re-distribute the template ZIP file in any
								kind of template collection websites.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="container">
				<div class="row p-5">
					<div class="mx-auto col-md-8 col-lg-6 order-lg-last">
						<img class="img-fluid" src="https://cf.shopee.vn/file/2e12343567a0bc4014090367ac82ef0d" alt="">
					</div>
					<div class="col-lg-6 mb-0 d-flex align-items-center">
						<div class="text-align-left">
							<h1 class="h1">Repr in voluptate</h1>
							<h3 class="h2">Ullamco laboris nisi ut </h3>
							<p>
								We bring you 100% free CSS templates for your websites.
								If you wish to support TemplateMo, please make a small contribution via PayPal or
								tell your friends about our website. Thank you.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button"
		data-bs-slide="prev">
		<i class="fas fa-chevron-left"></i>
	</a>
	<a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button"
		data-bs-slide="next">
		<i class="fas fa-chevron-right"></i>
	</a>
</div>
<!-- End Banner Hero -->


<!-- Start Hot Product -->
<section class="container py-5">

	<div class="row text-center pt-3">
		<div class="col-lg-6 m-auto">
			<h1 class="h1">Sản phẩm bán chạy</h1>
			<a class="seemore-btn" href="">
				Xem thêm
				<i class="seemore-btn-icon fas fa-chevron-right"></i>
			</a>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-md-4">
			<div class="card mb-4 product-wap rounded-0">
				<div class="card rounded-0">
					<img class="card-img rounded-0 img-fluid"
						src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
					<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
						<ul class="list-unstyled">
							<!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
							<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
										class="far fa-eye"></i></a></li>
							<!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="card-body">
					<a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
					<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
						<li>Chất liệu: inox</li>
						<li class="pt-2">
							<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
						</li>
					</ul>

					<p class="text-center mt-2 mb-0">100.000 vnd</p>
				</div>
			</div>
		</div>
		<!-- End Product-1 -->

		<div class="col-md-4">
			<div class="card mb-4 product-wap rounded-0">
				<div class="card rounded-0">
					<img class="card-img rounded-0 img-fluid"
						src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
					<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
						<ul class="list-unstyled">
							<!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
							<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
										class="far fa-eye"></i></a></li>
							<!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="card-body">
					<a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
					<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
						<li>Chất liệu: inox</li>
						<li class="pt-2">
							<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
						</li>
					</ul>

					<p class="text-center mt-2 mb-0">100.000 vnd</p>
				</div>
			</div>
		</div>
		<!-- End Product-1 -->

		<div class="col-md-4">
			<div class="card mb-4 product-wap rounded-0">
				<div class="card rounded-0">
					<img class="card-img rounded-0 img-fluid"
						src="https://cf.shopee.vn/file/427e5f84a66a40c2c1cdbcbca09a42ab">
					<div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
						<ul class="list-unstyled">
							<!-- <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li> -->
							<li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i
										class="far fa-eye"></i></a></li>
							<!-- <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li> -->
						</ul>
					</div>
				</div>
				<div class="card-body">
					<a href="shop-single.html" class="h3 text-decoration-none">Snake high chain</a>
					<ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
						<li>Chất liệu: inox</li>
						<li class="pt-2">
							<span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
							<span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
						</li>
					</ul>

					<p class="text-center mt-2 mb-0">100.000 vnd</p>
				</div>
			</div>
		</div>
		<!-- End Product-1 -->
	</div>

</section>
<!-- End Hot Product-->

<!-- Start Categories -->
<section class="container py-5">
	<div class="row text-center pt-3">
		<div class="col-lg-6 m-auto">
			<h1 class="h1">Sản phẩm theo loại</h1>
			<a class="seemore-btn" href="">
				Xem thêm
				<i class="seemore-btn-icon fas fa-chevron-right"></i>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-3 p-3 mt-3">
			<a href="#"><img src="https://cf.shopee.vn/file/7aa307c023cb1119a32211fea0d7400d"
					class="rounded-circle img-fluid border"></a>
			<h5 class="text-center mt-3 mb-3">Nhẫn</h5>

		</div>
		<div class="col-12 col-md-3 p-3 mt-3">
			<a href="#"><img src="https://cf.shopee.vn/file/a2a1595adb93141f840b3a81f94b929e"
					class="rounded-circle img-fluid border"></a>
			<h2 class="h5 text-center mt-3 mb-3">Vòng cổ</h2>

		</div>
		<div class="col-12 col-md-3 p-3 mt-3">
			<a href="#"><img src="https://cf.shopee.vn/file/0d10e16bcc06963d24d6f2d98f0106ef"
					class="rounded-circle img-fluid border"></a>
			<h2 class="h5 text-center mt-3 mb-3">Bông tai</h2>

		</div>

		<div class="col-12 col-md-3 p-3 mt-3">
			<a href="#"><img src="https://cf.shopee.vn/file/f80a38b533e04418493207005618586b"
					class="rounded-circle img-fluid border"></a>
			<h2 class="h5 text-center mt-3 mb-3">Vòng tay</h2>

		</div>
	</div>
</section>
<!-- End Categories -->