<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="https://www.facebook.com/profile.php?id=100008797989118" target="_blank">Kasle</a> 2022</p>
    </div>
</div>