
<!-- Start Top Nav -->
<nav class="navbar bg-dark">
    <div class="container">
        <div class="home-logo-container">
            <div>
                <a class="kct-logo" href="/">Glamorous</a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->



