<!-- Opent content -->
<div class="container py-5">
   <form class="mt-4 mb-4" method="post" action="/payment">
      <div class="row">
         <div class="col-sm-12 col-lg-7 order-lg-1 order-2">
            <h2 class="payment-title mt-lg-0 mt-sm-3">Thông tin giao hàng</h2>
            {{#if message}}
            <div style="text-align: center" class="alert alert-{{message.type}}">
               <strong>{{message.intro}}</strong> {{message.message}}
            </div>
            {{/if}}

            <div>
               <input type="text" class="form-control mb-3" id="" name="name" placeholder="Họ và tên" required>
            </div>

            <div class="">
               <input type="text" class="form-control mb-3" id="" name="phonenumber" placeholder="Số điện thoại"
                  required>
            </div>

            <div class="">
               <input type="text" class="form-control mb-3" id="" name="address" placeholder="Địa chỉ giao hàng"
                  required>
            </div>

            <div class="">
               <label for="exampleFormControlTextarea1">Ghi chú</label>
               <textarea class="form-control mb-3" id="exampleFormControlTextarea1" name="note" rows="3"></textarea>
            </div>

            <h2 class="payment-title mt-lg-0 mt-sm-3">Phương thức vận chuyển</h2>
            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán khi nhận hàng</span>
                  <input name="paymentType" class="check-btn radio" value="payCOD" type="radio">
                  <span class="checkmark"></span>
               </label>
            </div>
            <div class="">
               <label class="attr-check-btn sildeDown-item text-decoration-none">
                  <span class="attr-text">Thanh toán qua MoMo</span>
                  <input name="paymentType" class="check-btn radio" value="payOnline" type="radio">
                  <span class="checkmark"></span>
               </label>
            </div>


            <div class="bill-payment mt-3">
               <a class="bill-backtoshop" href="/product">
                  <i class="fas fa-angle-left"></i>
                  Tiếp tục mua sắm
               </a>
               <button type="submit" class="btn btn-success btn-sm">Xác nhận thông tin</button>
            </div>
            {{!--
   </form> --}}
</div>
<!-- Bill Details -->
<div class="col-sm-12 col-lg-5 order-lg-2 order-1">
   {{!-- <form method="POST" action="/payment/cardOrder"> --}}
      <table class="cart-view" id="cart-view"></table>
      <span class="line"></span>
      <table class="table-total">
         <tbody>
            {{!-- <form method="post" action="/payment/promotion"> --}}
               <tr>
                  <td class="text-left col-8">
                     <input class="promotion-input" type="text" name="promotion" placeholder="Mã giảm giá">
                  </td>
                  <td class="text-right col-4">
                     <button class="btn btn-success">Áp dụng</button>
                  </td>
               </tr>
               {{!--
            </form> --}}
         </tbody>
      </table>
      <span class="line"></span>
      <!-- Start Total Table -->
      <table class="table-total">
         <tbody>
            <tr>
               <td class="text-left">TẠM TÍNH:</td>
               <td class="cart-total-price text-right" id="cart-total-price"></td>
            </tr>
            <tr>
               <td class="text-left">PHÍ VẬN CHUYỂN:</td>
               <td class="text-right js-shipping-fee">30,000đ</td>
            </tr>
            <tr>
               <td class="text-left">TỔNG TIỀN:</td>
               <td class="text-right js-order-total">0đ</td>
            </tr>
         </tbody>
      </table>
      {{!-- <button type="submit" class="btn btn-success btn-sm">Xác nhận thông tin</button> --}}
</div>
</form>
</div>

{{!-- Show order items --}}
<script>
   var cartView = document.getElementsByClassName('cart-view')[0]
   let cartData = ``;

   if (JSON.parse(localStorage.getItem('items')) === null || JSON.parse(localStorage.getItem('items')) == '') {
      cartData += `<tr class="cart-item cart-item-empty"><td>Chưa có sản phẩm trong giỏ hàng</td></tr>`
      document.querySelector('.cart-total-price').innerHTML = '2' + 'đ';
   }
   else {
      (JSON.parse(localStorage.getItem('items')).map(data => {
         var productTotal = parseFloat(data.qty) * parseFloat(data.price)
         productTotalFormat = Intl.NumberFormat().format(productTotal);
         Total();

         cartData += `
		<tr class="cart-item" id="cart-item">
		<td class="item-img col-4">
		
		<img class="cart-item-image" src="` + data.img + `" alt="Card image cap" id="product-detail">
	</td>
	<td class="col-8">
		<a href="" class="item-title">` + data.name + `</a>
		<span class="item-properties">` + data.color + `, ` + data.size + `</span>
		<div class="item-amount justify-content-center">
			<input hidden value="` + data.sku + `" class="cart-sku"  name="sku" type="text">
			<span class="cart-quantity-input">` + data.qty + `</span>
         <input hidden value="` + data.qty + `" class="cart-qty" name="qty" type="text">

			<span class="cart-price">` + productTotalFormat + `</span>
         <input hidden value="` + productTotalFormat + `" class="cart-totalprice" name="price" type="text">
		</div>
	</td>
	</tr>`

      }));
   }  

   // Total
   function Total() {
      var total = 0;
      (JSON.parse(localStorage.getItem('items')).map(data => {
         var productTotal = parseFloat(data.qty) * parseFloat(data.price)
         total += productTotal;
         document.getElementsByClassName('cart-total-price')[0].innerHTML = Intl.NumberFormat().format(total) + 'đ';
      }))
   }

   cartView.innerHTML = cartData;
</script>

{{!-- Calculate order total --}}
<script>
   var orderTotal = document.querySelector('.js-order-total')
   var itemsTotal = document.querySelector('#cart-total-price').innerText
   var shippingTotal = document.querySelector('.js-shipping-fee').innerText
   itemsTotal = itemsTotal.replaceAll(',', '')
   itemsTotal = itemsTotal.replaceAll('đ', '')
   shippingTotal = shippingTotal.replaceAll(',', '')
   shippingTotal = shippingTotal.replaceAll('đ', '')
   
   var total = 0;
   total = parseFloat(itemsTotal) + parseFloat(shippingTotal);
   console.log(total)
   orderTotal.innerHTML = Intl.NumberFormat().format(total) + 'đ'
</script>

<!-- End content -->