<div class="content-body">
  <div class="container-fluid">
    <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
      <h2 class="font-w600 title mb-2 mr-auto">Dashboard</h2>
    </div>
    <div class="">
      <div id="pie-chart"></div>
      <div id="bar-chart"></div>
      <div id="line-chart"></div>
    </div>
  </div>
</div>

